# Final Exercise on Pandas

In the last notebooks you have learned a lot of new things, and you have also been able to practice them. Only by practicing will you become more confident in using the methods and hopefully it will stick in your mind better.
Thus, here is another exercise on Pandas, in which you are asked to do a few different things with the new tools we learned about (methods for combining records, `pd.cut` and `pivot tables`).

We'll be working with the `wine` datasets that are located in the `data` folder in this day's directory. 

1) Read the `winequality-red.csv` data into a `DataFrame`, and the `winequality-white.csv` into another `DataFrame`.

2) Double check that you've read them in right by using some of the attributes and methods available on `DataFrames` for getting a general sense of your data. 

3) I've decided that this month I want to stay away from wines with relatively high alcohol content. To do that, I'm going to avoid any wines that have a greater alcohol content than the mean alcohol content, and you're going to help me do this. To achieve this, let's do the following: 

  * Find the mean alcohol content, separately, for reds and whites.  
  * Create a `Series` that holds whether each row in each `DataFrame` (the reds, and whites) has a higher alcohol content than the mean. 
  * Merge this `Series` onto the `DataFrame`. I can imagine doing this with either a `.join()` or using `pd.concat()`. For practice, do it with both. Note: merges with `Series` work the same way that they work with `DataFrames`.  
  * Return back to me all those rows that will help me stay away from those wines with a higher alcohol content.  
   
   
4) Let's say that I want to get started on cutting back next month. This time, though, I want to focus on staying away from those wines with a high acidity. Specifically, I want to stay away from those wines that are in the highest bin of fixed acidity (highest bin out of 5). You're now going to help me do this. To achieve this, let's do the following: 

 * Separate the rows in each `DataFrame` into 5 equal width bins (not equal to quintiles) based off their fixed acidity. 
 * Merge the resulting `Series` holding these 5 bins onto the original `DataFrame`. I can imagine also doing this with either `.join()` or using `pd.concat()`. Try doing it with both for practice. 
 * Return back to me all those rows that are **not in** the top bin in terms of fixed acidity. 

5) Let's say that I now want to know how much my decision to avoid those wines with higher `alcohol` content is going to limit the `quality` of wines that I can drink. To figure this out, I want to know a couple of things: 

 * The average `alcohol` content for those reds above the mean `alcohol` level, by quality.
 * The average `alcohol` content for those whites above the mean `alcohol` level, by quality. 
 
 Use a `pivot table` to solve this. 
 
6) Now, do the same for my decision to avoid wines with a high acidity next month: 

 * Find the average `alcohol` content for reds, by `quality` and `fixed acidity` quintile. 
 * Find the average `alcohol` content for whites, by `quality` and `fixed acidity` quintile. 
 
  Use a `pivot table` to solve this.

In [35]:
#1
import pandas as pd
import numpy as np

df_white = pd.read_csv("data/winequality-red.csv", delimiter =";")
df_red = pd.read_csv("data/winequality-white.csv", delimiter =";")

In [36]:
#2
df_white.head()
df_white.info()
df_white.describe()
df_red.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278241,0.334192,6.391415,0.045772,35.308085,138.360657,0.994027,3.188267,0.489847,10.514267,5.877909
std,0.843868,0.100795,0.121020,5.072058,0.021848,17.007137,42.498065,0.002991,0.151001,0.114126,1.230621,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.009000,2.000000,9.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.036000,23.000000,108.000000,0.991723,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.043000,34.000000,134.000000,0.993740,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,0.996100,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.346000,289.000000,440.000000,1.038980,3.820000,1.080000,14.200000,9.000000

In [37]:
#3 (strong_alcohol)
print(df_white["alcohol"].mean())
df_strong_alcohol_white =  df_white[(df_white["alcohol"] > df_white["alcohol"].mean())]
df_strong_alcohol_white

print(df_red["alcohol"].mean())
df_strong_alcohol_red =  df_white[(df_white["alcohol"] > df_white["alcohol"].mean())]
df_strong_alcohol_red

10.422983114446529
10.514267047774602

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.5,7
31,6.9,0.685,0.00,2.5,0.105,22.0,37.0,0.99660,3.46,0.57,10.6,6
36,7.8,0.600,0.14,2.4,0.086,3.0,15.0,0.99750,3.42,0.60,10.8,6
...,...,...,...,...,...,...,...,...,...,...,...,...
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [38]:
#3 (join)

df_strong_alcohol_red.join(df_strong_alcohol_white, rsuffix="_white", on="alcohol")

/Users/jaouadelyousfi/NeueFische/ds-pandas-numpy/.venv/lib/python3.8/site-packages/pandas/core/reshape/merge.py:1141: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,...,citric acid_white,residual sugar_white,chlorides_white,free sulfur dioxide_white,total sulfur dioxide_white,density_white,pH_white,sulphates_white,alcohol_white,quality_white
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,6.9,0.685,0.00,2.5,0.105,22.0,37.0,0.99660,3.46,0.57,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,7.8,0.600,0.14,2.4,0.086,3.0,15.0,0.99750,3.42,0.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,...,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.8,10.5,5.0
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,...,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.8,10.5,5.0
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,...,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.8,10.5,5.0

In [39]:
pd.merge(df_strong_alcohol_white, df_strong_alcohol_red, on=['alcohol'], suffixes=[' red', ' white'])

,fixed acidity red,volatile acidity red,citric acid red,residual sugar red,chlorides red,free sulfur dioxide red,total sulfur dioxide red,density red,pH red,sulphates red,...,volatile acidity white,citric acid white,residual sugar white,chlorides white,free sulfur dioxide white,total sulfur dioxide white,density white,pH white,sulphates white,quality white
0,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,...,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,5
1,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,...,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,5
2,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,...,0.280,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,7
3,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,...,0.450,0.36,5.9,0.074,12.0,87.0,0.99780,3.33,0.83,5
4,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,...,0.450,0.36,5.9,0.074,12.0,87.0,0.99780,3.33,0.83,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22740,7.0,0.560,0.17,1.7,0.065,15.0,24.0,0.99514,3.44,0.68,...,0.540,0.06,1.8,0.050,38.0,89.0,0.99236,3.30,0.50,6
22741,7.0,0.560,0.17,1.7,0.065,15.0,24.0,0.99514,3.44,0.68,...,0.560,0.17,1.7,0.065,15.0,24.0,0.99514,3.44,0.68,7
22742,5.3,0.470,0.11,2.2,0.048,16.0,89.0,0.99182,3.54,0.88,...,0.470,0.11,2.2,0.048,16.0,89.0,0.99182,3.54,0.88,7
22743,6.2,0.650,0.06,1.6,0.050,6.0,18.0,0.99348,3.57,0.54,...,0.650,0.06,1.6,0.050,6.0,18.0,0.99348,3.57,0.54,5
22744,6.7,0.855,0.02,1.9,0.064,29.0,38.0,0.99472,3.30,0.56,...,0.855,0.02,1.9,0.064,29.0,38.0,0.99472,3.30,0.56,6

In [40]:
#3(stay away from this)
joined_df2 = pd.concat([df_strong_alcohol_white, df_strong_alcohol_red], axis=1)
joined_df2.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,...,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,...,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,...,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.9969,3.30,0.75,...,0.56,1.8,0.092,35.0,103.0,0.9969,3.30,0.75,10.5,7
31,6.9,0.685,0.00,2.5,0.105,22.0,37.0,0.9966,3.46,0.57,...,0.00,2.5,0.105,22.0,37.0,0.9966,3.46,0.57,10.6,6
36,7.8,0.600,0.14,2.4,0.086,3.0,15.0,0.9975,3.42,0.60,...,0.14,2.4,0.086,3.0,15.0,0.9975,3.42,0.60,10.8,6

In [58]:
#4
all_wines= pd.merge(df_white, df_red)
pd.cut(all_wines['fixed acidity'], bins=np.arange(0, 6))

0    NaN
1    NaN
2    NaN
Name: fixed acidity, dtype: category
Categories (5, interval[int64]): [(0, 1] < (1, 2] < (2, 3] < (3, 4] < (4, 5]]

In [78]:
all_wines

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,6.7,0.28,0.28,2.4,0.012,36.0,100.0,0.99064,3.26,0.39,11.7,7
1,6.7,0.28,0.28,2.4,0.012,36.0,100.0,0.99064,3.26,0.39,11.7,7
2,5.9,0.19,0.21,1.7,0.045,57.0,135.0,0.99341,3.32,0.44,9.5,5

In [92]:
#5
df_strong_alcohol_white.sort_values("quality")

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
690,7.4,1.185,0.00,4.25,0.097,5.0,14.0,0.99660,3.63,0.54,10.7,3
1299,7.6,1.580,0.00,2.10,0.137,5.0,9.0,0.99476,3.50,0.40,10.9,3
899,8.3,1.020,0.02,3.40,0.084,6.0,11.0,0.99892,3.48,0.49,11.0,3
1176,6.5,0.880,0.03,5.60,0.079,23.0,47.0,0.99572,3.58,0.50,11.2,4
1124,6.5,0.580,0.00,2.20,0.096,3.0,13.0,0.99557,3.62,0.62,11.5,4
...,...,...,...,...,...,...,...,...,...,...,...,...
1549,7.4,0.360,0.30,1.80,0.074,17.0,24.0,0.99419,3.24,0.70,11.4,8
1061,9.1,0.400,0.50,1.80,0.071,7.0,16.0,0.99462,3.21,0.69,12.5,8
278,10.3,0.320,0.45,6.40,0.073,5.0,13.0,0.99760,3.23,0.82,12.6,8
588,5.0,0.420,0.24,2.00,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
1202,8.6,0.420,0.39,1.80,0.068,6.0,12.0,0.99516,3.35,0.69,11.7,8

In [86]:
df_strong_alcohol_red.sort_values("quality")

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fa_bin,fa_bin,fa_bin,fa_bin,fa_bin
690,7.4,1.185,0.00,4.25,0.097,5.0,14.0,0.99660,3.63,0.54,10.7,3,7,10,7,7,7
1299,7.6,1.580,0.00,2.10,0.137,5.0,9.0,0.99476,3.50,0.40,10.9,3,7,10,7,7,7
899,8.3,1.020,0.02,3.40,0.084,6.0,11.0,0.99892,3.48,0.49,11.0,3,8,10,8,8,8
1176,6.5,0.880,0.03,5.60,0.079,23.0,47.0,0.99572,3.58,0.50,11.2,4,6,11,6,6,6
1124,6.5,0.580,0.00,2.20,0.096,3.0,13.0,0.99557,3.62,0.62,11.5,4,6,11,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549,7.4,0.360,0.30,1.80,0.074,17.0,24.0,0.99419,3.24,0.70,11.4,8,7,11,7,7,7
1061,9.1,0.400,0.50,1.80,0.071,7.0,16.0,0.99462,3.21,0.69,12.5,8,9,12,9,9,9
278,10.3,0.320,0.45,6.40,0.073,5.0,13.0,0.99760,3.23,0.82,12.6,8,10,12,10,10,10
588,5.0,0.420,0.24,2.00,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8,4,13,4,4,4
1202,8.6,0.420,0.39,1.80,0.068,6.0,12.0,0.99516,3.35,0.69,11.7,8,8,11,8,8,8

In [111]:
fixed_acidity_bins = np.arange(0, 5)
fixed_acidity_series = pd.cut(df_strong_alcohol_red['fixed acidity'], bins=fixed_acidity_bins, labels=fixed_acidity_bins[:-1])
fixed_acidity_series.name = 'fa_bin'
df_strong_alcohol_red_c = pd.concat([df_strong_alcohol_red, fixed_acidity_series], axis=1)
df_strong_alcohol_red

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,fa_bin,fa_bin,fa_bin,fa_bin,fa_bin,fa_bin,fa_bin,fa_bin
9,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5,7,10,7,7,7,7,7,NaN
11,7.5,0.500,0.36,6.1,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5,7,10,7,7,7,7,7,NaN
16,8.5,0.280,0.56,1.8,0.092,35.0,103.0,0.99690,3.30,0.75,10.5,7,8,10,8,8,8,8,8,NaN
31,6.9,0.685,0.00,2.5,0.105,22.0,37.0,0.99660,3.46,0.57,10.6,6,6,10,6,6,6,6,6,NaN
36,7.8,0.600,0.14,2.4,0.086,3.0,15.0,0.99750,3.42,0.60,10.8,6,7,10,7,7,7,7,7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,6,10,6,6,6,6,6,NaN
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,6,10,6,6,6,6,6,NaN
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,5,11,5,5,5,5,5,NaN
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,6,10,6,6,6,6,6,NaN
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,5,10,5,5,5,5,5,NaN

In [109]:
#5
pd.pivot_table(df_strong_alcohol_red, values='alcohol', columns='quality')

quality          3       4          5          6          7         8
alcohol  10.866667  11.295  11.088686  11.437214  11.708236  12.36875